* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header img {
    width: 100%;
    display: block;
    
}
body {
    background-color: gold;
    box-sizing: border-box;
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}
nav {
    background-color: indigo;
}
a.menu {
    display: inline-block;
    width: 33.3%;
    padding: 20px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
}
a.menu:hover {
    background-color: tomato;
}
a.active {
    background-color: tomato;
}
article {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 30px;
}
article h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: tomato;
    text-align: center;
    border-bottom: 2px solid pink;
}
article p {
    text-align: center;
    margin-top: 10px;
}
iframe {
    width: 100%;
    margin-bottom: 30px;
}
footer {
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    background-color: indigo;
    color:tomato;
}
footer a {
    color: white;

}